.container{
  display: flex;
  /* flex-direction: column; */
  background-color: aquamarine;
  padding: 5px;
  border-radius: 15px;
}

.contained{
  margin: 5px;
  background-color: blueviolet;
  border-radius: 5px;
  flex: 100%;
}